.reg__header{
	width: 100%;
	height: 63px;
	background: #f3f3f3;
	display: flex;
	align-items: center;	
    text-transform: uppercase;
}

.reg__header-name{
	font-size: 40px;
	cursor: pointer;
    font-weight: bold;
    color: #666;
	margin-left: 120px;
}

a:hover{
    text-decoration: none;
}

.regWrap{
	width: 376px;
    height: 320px;
    background: #f3f3f3;
    margin: 50px auto;
    padding: 15px;
    font-size: 30px;
    border-radius: 3px;
}

.regWrap > form > div{
    margin: 0 auto;
}

.regWrap input:not(.registration-submit){
	width: 170px;
    height: 33px;
    font-size: 24px;
    vertical-align: text-bottom;
    float: right;
    margin-top: 8px;
}

.reg__age{
    height: 28px;
    font-size: 20px;    
    margin-left: 3px;
    border: 1px solid #e5e5e5;
}

.registration-submit{
    width: 100%;
    height: 40px;
    font-size: 27px;
    margin-top: 12px;
}

.reg-warning{
    width: 286px;
    color: #ac1c1c;
}

.reg-success{
    width: 338px;
    color: green;   
}