body {
	margin: 0;
	font-family: Arial;
}

.button {
	display: inline-block;
	padding: .625em 1.25em;
	border: .0625em solid rgba(0,0,0,.1);
	border-radius: .2em;
	box-shadow: 0 .05em .25em rgba(0,0,0, .5);
	text-shadow: 0 -.05em .05em rgba(0,0,0, .5);
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
    text-align: center;
	color: white;
	transition: all, .25s;
	position: relative;
    overflow: hidden;
}

.button:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(hsla(0, 0%, 100%, .2), transparent);
    position: absolute;
    top: 0;
    left: 0;
}

.button::selection {
	color: none;
}

.button:hover:after {
	background: hsla(0, 0%, 50%, .2)
}

.button:active:after {
	background: hsla(0, 0%, 0%, .2)
}

.button--success {
	background: #6d0;
}

.button--danger {
	background: #c00;
}

.button--warning {
	background: #ffc107;
}

.button--primary {
	background: #58d;
}

.button--size-s {
	font-size: 60%;
}

.button--size-m {
	font-size: 75%;
}

.button--size-l {
	font-size: 90%;
}

.button--size-xl {
	font-size: 125%;
}

.button--size-normal {
	font-size: 100%;
}

.button--large {
	width: 100%;
}

.test-col div {
	background: green;
	height: 50px;
	border: 1px solid black;
	box-sizing: border-box;
}

.column-1 {
	float: left;
	width: 8.33333333333%;
}

.column-2 {
	float: left;
	width: 16.66666666666%;
}

.column-3 {
	float: left;
	width: 24.99999999999%;
}

.column-4 {
	float: left;
	width: 33.33333333333%;
}

.column-5 {
	float: left;
	width: 41.66666666666%;
}

.column-6 {
	float: left;
	width: 50%;
}

.column-7 {
	float: left;
	width: 58.33333333333%;
}

.column-8 {
	float: left;
	width: 66.66666666666%;
}

.column-9 {
	float: left;
	width: 75%;
}

.column-10 {
	float: left;
	width: 83.33333333333%;
}

.column-11 {
	float: left;
	width: 91.66666666666%;
}

.column-12 {
	float: left;
	width: 100%;
}

.input {
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .2em;
    transition: all, .15s;
    box-sizing: border-box;
    outline: 0;
}

.input:focus {
    border-color: #58d;
    box-shadow: 0 0 0 0.2em rgba(85,136,221,.25);
}

.input--success {
	border-color: #6d0;
}

.input--success:focus {
	border-color: #6d0;
	box-shadow: 0 0 0 0.2em rgba(102,221,0,.25);
}

.input--danger {
	border-color: #c00;
}

.input--danger:focus {
	border-color: #c00;
	box-shadow: 0 0 0 0.2em rgba(204,0,0,.25);
}

.input--warning {
	border-color: #ffc107;
}

.input--warning:focus {
	border-color: #ffc107;
	box-shadow: 0 0 0 0.2em rgba(255,193,7,.25);
}

.test-input input {
    margin: 10px auto;
    width: 50%;
}
